.side-menu {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}
.side-menu__item:not(.side-menu__item_active) {
  cursor: pointer;
}
.side-menu__item {
  display: flex;
  align-items: center;
  gap: 8px;
  width: fit-content;
  padding: 0 12px;
  height: 38px;
  transition: all 0.1s ease-in-out;
  border-radius: 4px;
}
.side-menu__item:not(:first-child) {
  margin-top: 8px;
}
.side-menu__item:hover:not(.side-menu__item_active) p {
  color: #0d6efd;
}
.side-menu__item:hover:not(.side-menu__item_active) svg path {
  fill: #0d6efd;
}
.side-menu__item p {
  font-size: 16px;
  font-weight: 400;
  color: #487cfb;
}
.side-menu__item_active {
  background-color: #487cfb;
}
.side-menu__item_active p {
  color: #ffffff;
}
.side-menu__item_active svg path {
  fill: #ffffff;
}