.datepicker-dropdown-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #ffffff;
  padding: 0 12px;
  border-radius: 4px;
  cursor: pointer;
  height: 38px;
}
.datepicker-dropdown-btn span {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #212529;
}

.datepicker-dropdown-menu {
  padding: 0;
  border: none;
}