.default-container {
  max-width: 1440px;
  margin: 0 auto 25px auto;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1200px) {
  .default-container {
    padding: 0 30px;
  }
}@font-face {
  font-family: "Cera Pro";
  src: url("../../assets/fonts/CeraPro-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../../assets/fonts/CeraPro-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../../assets/fonts/CeraPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../../assets/fonts/CeraPro-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../../assets/fonts/CeraPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../../assets/fonts/CeraPro-RegularItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../../assets/fonts/CeraPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../../assets/fonts/CeraPro-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../../assets/fonts/CeraPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../../assets/fonts/CeraPro-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../../assets/fonts/CeraPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../../assets/fonts/CeraPro-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: normal;
}

body {
  font-family: Cera Pro, sans-serif;
}.header {
  margin-top: 25px;
  display: flex;
  align-items: center;
}
.header__nav-and-search {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-end;
}
.header__nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 25px 0 45px;
  padding: 0;
  list-style: none;
  gap: 30px;
  transition: all 0.1s ease-in-out;
}
@media (max-width: 1420px) {
  .header__nav-list {
    gap: 25px;
  }
}
@media (max-width: 1380px) {
  .header__nav-list {
    gap: 20px;
  }
}
.header__nav-list li {
  color: #212529;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}
.header__nav-list li:hover {
  color: #487cfb;
}
@media (max-width: 1340px) {
  .header__nav-list li:nth-last-child(2) {
    display: none;
  }
}
@media (max-width: 1250px) {
  .header__nav-list li:nth-last-child(3) {
    display: none;
  }
}
@media (max-width: 1100px) {
  .header__nav-list li:nth-last-child(4) {
    display: none;
  }
}
.header__search {
  padding: 7px 12px;
  border-radius: 42px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  margin-right: 15px;
}
.header__search input {
  outline: none;
  border: none;
  padding: 0 5px;
  width: 100px;
  margin-left: 10px;
  color: #212529;
}
.header__search input::placeholder {
  color: #7f8ebe;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
}
.header__avatar {
  cursor: pointer;
}
.header__avatar img {
  border-radius: 50%;
}