.nav-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}
.nav-menu__item:not(.nav-menu__item_active) {
  cursor: pointer;
}
.nav-menu__item {
  padding: 2px 8px;
  transition: all 0.1s ease-in-out;
  border-radius: 100px;
  font-size: 14px;
  font-weight: 500;
  color: #212529;
  background-color: #e7f1ff;
}
.nav-menu__item:hover:not(.nav-menu__item_active) {
  background-color: #487cfb;
  color: #ffffff;
}
.nav-menu__item_active {
  background-color: #487cfb;
  color: #ffffff;
}