body {
  background-color: #f3f5fb;
}

.survey-page {
  margin-top: 50px;
}
.survey-page__star {
  margin-bottom: 24px;
}
.survey-page__header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 16px;
}
.survey-page__page-title {
  position: relative;
}
.survey-page__page-title h3 {
  color: #212529;
  font-size: 32px;
  line-height: 38.4px;
  font-weight: 500;
}
.survey-page__page-title-counter {
  position: absolute;
  right: -20px;
  top: -5px;
  color: #ffffff;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  background-color: #007bff;
  height: 20px;
  width: 20px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.survey-page__btn {
  margin-left: auto;
}
@media (max-width: 1371px) {
  .survey-page__btn {
    margin-left: unset;
  }
}
.survey-page__cards {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 32px 232px 0 192px;
}.analytics-search {
  padding: 7px 12px;
  border-radius: 42px;
  background-color: #ececec;
  display: flex;
  align-items: center;
  margin-left: 70px;
}
.analytics-search input {
  outline: none;
  border: none;
  padding: 0 5px;
  width: 500px;
  margin-left: 10px;
  color: #212529;
  background-color: #ececec;
}
.analytics-search input::placeholder {
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
}.choose-period-dropdown-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  margin-left: 15px;
}
.choose-period-dropdown-btn span {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  color: #212529;
}

.choose-period-dropdown-list {
  width: 100%;
}

.choose-period-dropdown-item.active {
  background-color: #487cfb !important;
}

.choose-period-dropdown-item:active {
  background-color: #487cfb !important;
}.survey-switcher {
  margin-left: 24px;
  margin-right: 10px;
}
.survey-switcher label {
  color: #212529;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}.white-card {
  background-color: #ffffff;
  padding: 24px;
  border-radius: 24px;
}
.white-card__header {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}
.white-card__status, .white-card__date {
  color: #7f8ebe;
  font-weight: 400;
}
.white-card__status {
  font-size: 16px;
  line-height: 24px;
}
.white-card__date {
  font-size: 14px;
  line-height: 21px;
}
.white-card__title {
  color: #212529;
  font-size: 24px;
  line-height: 28.8px;
  font-weight: 500;
  margin-top: 12px;
}
.white-card__text {
  color: #7f8ebe;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  margin-top: 12px;
  max-width: 530px;
}
.white-card__bottom {
  margin-top: 24px;
}
.white-card__white-btns {
  display: flex;
  gap: 8px;
  align-items: center;
}
.white-card__white-btns span {
  color: #7f8ebe;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin-left: 8px;
}
.white-card__white-btn {
  color: #212529;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  height: 38px;
  border: 1px solid #ccd3e7;
  border-radius: 4px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}